/* 该文件配置网站的文字 图标 等等 一系列dom元素的样式文件 */
:root {
  /* 通过配置 自定义颜色 */
  --vp-home-hero-name-color: transparent;
  /* 主页标题文字的颜色  */
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #34fe74, #7eaadf);

  /* 主页左侧背景添加渐变光圈 */
  --vp-home-hero-image-background-image: linear-gradient(135deg, #32d39d 10%, #3edb30 50%);
  --vp-home-hero-image-filter: blur(100px);

  /* botton按钮 */
  /* --vp-button-brand-border: #00a98e; */
  /* 按钮文本颜色 */
  --vp-button-brand-text: #ffffff;
  /* 按钮背景颜色 */
  --vp-button-brand-bg: #00a98e;

  /* 鼠标悬停的效果之后的样式 */
  --vp-button-brand-hover-border: #4ad1b4;
  --vp-button-brand-hover-text: #ffffff;
  --vp-button-brand-hover-bg: #4ad1b4;

  --vp-button-brand-active-border: #00a98e;

  /* 按钮点击时的背景颜色 */
  --vp-button-brand-active-bg: #00a98e;
  --vp-button-brand-active-text: #ffffff;

  /* 主题基色 */
  --vp-c-brand: #34fe74;
  /* 白色模式 主题基色 */
  --vp-c-brand-light: #34fe74;
  /* 黑色模式 主题基色 */
  --vp-c-brand-dark: #34fe74;
}

/* 添加右侧图标悬停效果 */
.VPHero .image-bg {
  transition: opacity 1s ease;
}

.VPHero .image-container:hover .image-bg {
  opacity: 0;
}